:root {
  --primary: #b59b5c;
  --soft: #f7f4ef;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #eee;
}
.guest {
  margin-top: 15px;
  font-size: 1rem;
  line-height: 1.5;
}

.guest strong {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
}

.hidden {
  display: none;
}

/* COVER */
.cover {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  background: rgba(0,0,0,.55);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.overlay h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.overlay button {
  margin-top: 25px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

/* SECTION */
.section {
  padding: 60px 25px;
  text-align: center;
}

.section h2, .section h3 {
  font-family: 'Playfair Display', serif;
}

/* PHOTO */
.photo {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* ORNAMENT */
.ornament {
  background:
    linear-gradient(rgba(247,244,239,.95), rgba(247,244,239,.95)),
    url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}

/* DOA */
.arabic {
  font-size: 1.4rem;
  font-family: serif;
}

.arti {
  font-size: .95rem;
  margin-top: 10px;
}

/* COUNTDOWN */
.countdown {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--primary);
}

/* FOOTER */
footer {
  background: var(--soft);
  padding: 30px;
}

/* FADE IN UP */
.fade {
  opacity: 0;
  transform: translateY(30px);
}

.fade.show {
  animation: fadeUp .8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
